* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif!important;
    scroll-behavior: smooth;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #173b6c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    color: #fff!important;
  }
  
  .logo {
    width: 100px;
    position: relative;
    font-size: 25px;
    color: #fff!important;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    letter-spacing: 5px;
  }
  
  .logo:hover{
    color: #149ddd!important;
    text-decoration: none!important;
  }
  
  .navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff!important;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
  }
    .profile-img {
      width: 200px;
    }
    .heading{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #173b6c;
    }
    .heading::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      background: #149ddd;
      bottom: 0;
      left: 0;
  }
  
  .navbar a {
    position: relative;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:50%;
    height: 3px;
    background-color: #149ddd; 
    transition: width 0.3s ease;
  }
  
  .navbar a:hover::after {
    width: 100%; 
    color: #173b6c!important;
  }
  .navbar a:hover {
    color:  #149ddd!important;
  }
    
    section {
      padding: 50px 0;
    }
    
    footer {
      background-color:#173b6c!important;
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }
    
    footer p {
      animation: fadeInUp 1s ease-in-out;
    }
    .image-circle {
      /* position: absolute; */
      border: 10px solid;
      border-color: #149ddd; 
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  
   .rounded-circle {
      position: absolute;
      border: 10px solid;
      border-color: #149ddd; 
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    
    /* .ring1 {
      border-color:#173b6c; 
      top: 5px; 
      left: 50px; 
      
    }
    
    .ring2 {
      border-color: #149ddd; 
      top: 70px; 
      left: 70px; 
      
    }  */
    
  
  
  
  
    @media (max-width: 900px) and (min-width: 700px) {
      .header{
          display:block;
      }
      .logo {
          position: relative;
          font-size: 30px;
          font-weight: 500;
          text-align: center;
      }
      .logo::after{
          content: "\a";
          white-space: pre;
      }
      .navbar a {
          font-size: 25px;
          font-weight: 200;
          margin-left: 0px;
          padding: 10px 10px 0 0;
      }
      .navbar a::after{
          content: "\a";
          white-space: pre;
      }
      
  }
  
  @media (max-width: 700px) and (min-width: 400px) {
      *{
          overflow-x: hidden;
          overflow-y: inherit;
      }
      /*navbar*/
      .header{
          display:block;
          
      }
      .logo {
          position: relative;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
      }
      .logo::after{
          content: "\a";
          white-space: pre;
      }
      .navbar a {
          font-size: 15px;
          font-weight: 200;
          margin-left: 0px;
          padding: 10px 10px 0 0;
      }
      .navbar a::after{
          content: "\a";
          white-space: pre;
      }
    }
    @media (max-width: 400px) {
      *{
          overflow-x: hidden;
      }
      .header{
          display:block;
      }
      .logo {
          position: relative;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
      }
      .logo::after{
          content: "\a";
          white-space: pre;
      }
      .navbar a {
          font-size: 13px;
          font-weight: 200;
          margin-left: 0px;
          padding: 10px 4px 0 0;
      }
      .navbar a::after{
          content: "\a";
          white-space: pre;
      }
    }